@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: Nunito, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
  background: #050505f3;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

li {
  list-style: none;
}

@layer components {
  .container {
    @apply h-[100vh] text-gray-200 sm:max-w-7xl sm:mx-auto;
  }

  .navBar {
    @apply bg-neutral-900 w-[100%] h-[60px] fixed top-0 left-0 text-white text-xl px-2 md:flex md:justify-between md:max-w-7xl xl:left-[50%] xl:desktopNavBar;
  }

  .desktopNavBar {
    transform: translateX(-50%);
  }

  .homeBackground {
    background: url("/static/images/hero-background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .darkGradient {
    background-color: #2d3436;
    background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%);
  }
}
